body, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.weaTimeCont{
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 25px;
  border-radius: 15px;
  position: relative;
}

.weaTimeCont::before{
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 15px;
  left: 0;
  box-sizing: border-box;
  backdrop-filter: blur(4.5px);
  display: inline-block;
  background: rgba(0,0,0,.2);
  position: absolute;
  z-index: -1;
}

.weaDegree{
  color: #fff;
  font-size: 150px;
  font-weight: 400;
  line-height: 115px;
  margin-right: 10px;
  letter-spacing: -2px;
  position: relative;
  padding-right: 10px;
}

.weaPlace{
  font-size: 55px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 35px;
}

.weaTime, .weaCondition{
  color: #fff;
  font-size: 18px;
}

.conditionCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.searchBoxCont{
  z-index: 99;
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 90px;
  margin: auto;
  width: 500px;
  transition: all ease .3s, align-items .3s;
  max-width: 900px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100vh;
}

.searchImg{
  width: 34px;
  /* opacity: .8; */
  margin:  5px 15px 0 0 ;
}

.searchInput{
  background: transparent;
  outline: none !important;
  border: 0 !important;
  height: 50px;
  font-size: 22px;
  color: #fff;
  padding: 10px 1px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 45px;
  border-bottom: 2px solid #fff !important;
  width: 100%;
}

.searchInput::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

.errCont{
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  z-index: -1;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://source.unsplash.com/random/900%C3%97700/?weather) no-repeat center center /cover;
}

.degSup{
  position: absolute;
  font-size: 34px;
  vertical-align: text-top;
  top: -57px;
  right: -10px;
}

.conditionCont img{
  width: 96px;
  margin-bottom: -10px;
}

.searchBox{
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBoxCont.active{
  right: 0;
  /* padding: 30px; */
  backdrop-filter: blur(12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

/* .searchBtn{
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 54px;
  height: 54px;
} */

.recentListCont{
  display: none;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.415);
}

.weatherDetails{
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.415);
}

.recentListCont.active{
  display: block;
}

.recentListCont ul, .recentListCont ul li{
  list-style: none;
  width: 100%;
  text-align: left;
}

.recentListCont ul li{
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentListCont li button{
  background: transparent;
  outline: none !important;
  border: 0 !important;
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  padding: 10px 0;
  cursor: pointer;
  /* width: 100%; */
  text-align: left;
  transition: all ease .2s;
}

.recentListCont li button:nth-child(2){
  font-size: 15px;
}

.recentListCont li button:hover{
  margin-left: 10px;
}

.detailsCont{
  width: 100%;
  display: none;
}

.detailsCont.active{
  display: block;
}

.weatherDetails li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  list-style: none;
}

.weatherDetails li p{
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
  font-size: 17px;
}

.weatherDetails li p:nth-child(2){
  color: #fff;
}

.weDeHead{
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 15px;
}

.foreCastCont{
  padding: 30px 0;
}

.foreData{
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.foreTime{
  margin: 9px 0;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.foreImgCont{
  background: rgba(255, 255, 255, 0.047);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 120px;
  height: max-content;
}

.foreImgCont p{
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.foreDateCont{
  display: flex;
  gap: 15px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  margin: 10px 0 30px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  height: max-content;
}

.foreDateCont::-webkit-scrollbar, .searchBoxCont::-webkit-scrollbar {
  display: none;
}

.weTitle{
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.978);
}

.searchBoxSub{
  padding: 30px;
  width: 100%;
}

.errVal{
  margin-top: 10px;
  font-weight: 300;
  display: inline-block;
}